@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@700&display=swap');

.nav-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #3e3e3e;
}
.navbar-item li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #3e3e3e;
}
.heading-section {
  width: 1340px;
  height: 584px;
}
.carousel-item img {
  width: 1340px;
  height: 584px;
}
.carousel-caption {
  padding: 0 40px;
  margin-bottom: 40px;
}
.carousel-caption h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
}
.carousel-caption p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.carousel-caption button {
  width: 168px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #3f87f5;
}
.main-section img {
  width: 546px;
  height: 364px;
  border-radius: 5px;
  margin-right: 35px;
}
.main-section h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #0a0826;
  margin-bottom: 6px;
}
.main-section p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #6c6c6c;
}
.main-section button {
  width: 230px;
  height: 44px;
  background-color: #3f87f5;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
.main-section button i {
  margin-left: 8px;
}

.toast-header {
  border-image: linear-gradient(#3f87f5, #3f87f5);
  border-image-slice: 1;
  border-left: 5px solid;
  border-bottom: 0;
}
.toast-header i {
  width: 22px;
  height: 23px;
}

.package-section-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #0a0826;
  margin-bottom: 100px;
}
.choose-package {
  width: 1170px;
}

.choose-package h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #231d4f;
  margin-bottom: 20px;
}
.choose-package h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #231d4f;
  margin-bottom: 15px;
  margin-top: 0;
}
.choose-package p {
  margin-top: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #848199;
}
.choose-package i {
  width: 20px;
  height: 20px;
  color: #69a0f1;
  margin-right: 10px;
}
.choose-package h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #848199;
}
.choose-package button {
  width: 207px;
  height: 45px;
  margin-top: 24px;
  background-color: #e9cee0;
  border-radius: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #3f87f5;
  border: none;
}
.badge-container {
  padding: 30px;
  background-color: #3f87f5;
  color: #ffffff;
  border-radius: 26px;
}
.client-section-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #0a0826;
  margin-bottom: 100px;
}
.client-description img {
  width: 100px;
  height: 100px;
  margin-top: 0;
  margin-bottom: 15px;
}
.client-description p {
  margin-bottom: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #6c6c6c;
}
.client-description h3 {
  margin-top: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #0c1920;
}
.client-description span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #747474;
}
.accordion {
  width: 552px;
}
.query-section img {
  width: 546px;
  height: 364px;
  margin-left: 24px;
}
